@import "./variables";
@import "./mixins";

.headerContainer {
    background-color: $background-color;

    a {
        font-size: 1.2rem;
        color: white;
        opacity: 1;
    }
    Button:hover {
        background-color: $active_color;
    }

    .username {
        font-size: 1.2rem;
    }

    .logo_image {
        width: 18rem;
    }
}

@media screen and (max-width: 1260px) {
    .headerContainer {
        a {
            font-size: .8rem !important;
        }

        .username {
            font-size: .8rem !important;
        }
    }
}