@import "./variables";
@import "./mixins";

.headerContainer {
    background-color: $background-color;

    a {
        font-size: 1.2rem;
        color: white;
        opacity: 1;
    }
    .ButtonColor {
        border-radius: 25px;
        padding: 0 17px;
    }
    .ButtonColor:hover {
        background-color: $active_color;
        border-radius: 25px;
        padding: 0 17px;
    }

    .menuContainer {
        display: flex;
        justify-content: end;
        margin-right: 1rem;
        gap: 1px;
    }

    .menuContainerInMobileView {
        display: flex;
        justify-content: end;
        margin-right: 1rem;
    }

    .username {
        font-size: 1.2rem;
    }

    .logo_image {
        width: 18rem;
        padding-left: 1rem;
    }

    .profileIcon {
        border: 2px solid $background-color;
        border-radius: 23px;
        background: #40a3dd;
    }
    .profileIcon:hover {
        border: 2px solid $active_color;
        border-radius: 23px;
        background-color: $active_color;
    }

    .menuIconColor {
        color: $background-color;
        padding-right: 10px;
    }
}

@media screen and (max-width: 426px) {
    .headerContainer {
        .menuContainer {
            display: none;
        } 
        .logo_image {
            width: 12rem;
            padding-left: .8rem;
        } 
        
    }
}

@media screen and (min-width: 426px) {
    .headerContainer {
        .menuContainerInMobileView {
            display: none;
        } 

        .logo_image {
            width: 18rem;
        }
    }
}